# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  workflow_call:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: 'sapmachine'
        cache: maven
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 22
        registry-url: https://npm.pkg.github.com/

    - name: Build with Maven
      run: mvn -ntp -B package
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
